@model _2301B2TempEmbedding.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Create Category</h1>

<hr />
<div class="row bg-secondary text-capitalize text-dark text-uppercase font-monospace fw-bold ">
    <div class="col-lg-12">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group p-3">
                <label asp-for="CatId" class="control-label"><h4>CATEGORY ID</h4></label>
                <input asp-for="CatId" class="form-control" />
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group p-3">
                <label asp-for="CatName" class="control-label"><h4>CATEGORY NAME</h4></label>
                <input asp-for="CatName" class="form-control" />
                <span asp-validation-for="CatName" class="text-danger"></span>
            </div>
            <div class="form-group p-3">
                <label asp-for="CatDescription" class="control-label"><h4>CATEGORY DESCRIPTION</h4></label>
                <input asp-for="CatDescription" class="form-control" />
                <span asp-validation-for="CatDescription" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3 text-center ">
                <input type="submit" value="Create" class="btn btn-dark col-lg-11 text-center" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index">Back to List</a>
</div>

